<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/9ce178c06d.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">

  </head>

  <body>
    <header>
      <img src="/img/logo-mercado-liebre.svg" width="200px" height="100px"> </img>
      <br>
      <textarea class="titulo-izquierda"> Buscar productos, marcas </textarea>
      <br>
      <button> <i class="fas fa-search"></i> </button>

    <h1 class="titulo-centrado"> <i class="fas fa-hand-holding-usd"></i>  Compra en cuotas y sin tarjeta de crédito</h1>
      <div>
        <ol class="titulo-iquierda">
          <li> Ofertas </li>
          <li> Tiendas Oficiales </li>
          <li> Vender </li>
          <li> Ayuda </li>
        </ol>
        <ol>
          <li> Crea tu cuenta<i class="far fa-address-card"></i> </li>
          <li> Ingresa <i class="fas fa-sign-in-alt"></i> </li>
          <li> Mis compras <i class="fas fa-shopping-basket"></i> </li>
        </ol>
      </div>
     <div class="titulo-centrado">
        <button> <i class="fas fa-bars"> </i></button>
     </div>
     
    </header>
    <main>
      <div>
        <h4> Basado en tu ultima visita </h4>
        <img src="/img/img-cafetera-moulinex.jpg" height="150px" width="150px">
        <br>
        <p> <strong> Cafetera Moulinex </strong></p>
        <p> $50000 </p>
        <p> 20% off </p>
      </div>
    </main>
    <footer>
      <div>
        <h4> Paga con tarjeta o efectivo </h4>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div>
        <h4> Envío gratis desde $ 2.500 </h4>
        <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div>
        <h4> Seguridad, de principio a fin </h4>
        <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
      </div>
      <div>
        <h4> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
      </div>

    </footer>
  </body>

</html>
