<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fontawesome.com/" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">

  </head>

  <body>
      <!--
      <h1> Este es mi primer sitio </h1>
      <h4> Espero que sea genial </h4> 
      <h6> Sean bienvenidos </h6>
      <br>
      <p> <strong>Este es un párrafo </strong></p>
      <div>
        <label> Complete con nombre </label> 
        <input/> 
        <button> Presioname </button>
        <textarea></textarea>
      </div>
      Iconos
      fas fa-hand-holding-usd (Manito con signo pesos)
      far fa-1x fa-id-card (tarjeta)
      fas fa-share-square (flecha)
    -->
    <img src="/img/logo-mercado-liebre.svg" width="200px" height="100px"> </img>
    
    <textarea class="titulo-izquierda"> Buscar productos, marcas </textarea>

    <button> </button>

    <h1 class="titulo-centrado"> <i class="fas fa-hand-holding-usd"></i>  Compra en cuotas y sin tarjeta de crédito</h1>

    <ol class="titulo-iquierda">
      <li> Ofertas </li>
      <li> Tiendas Oficiales </li>
      <li> Vender </li>
      <li> Ayuda </li>
    </ol>

    <ol>
      <li> Crea tu cuenta </li>
      <li> Ingresa </li>
      <li> Mis compras </li>
    </ol>

  <button class="titulo-centrado"> </button>

  </body>

</html>
