<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/9ce178c06d.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">

  </head>

  <body>
    <header>
      <div>
        <form class="header-padre">  
          <div class="header-logo">
            <img src="/img/logo-mercado-liebre.svg" width="200px" height="100px"> </img>
          </div> 
        </form>
      </div>    
    </header>
    <main>
      <div class="contenedor-main">
        <div class="caja-padre-sesion">
          <h2 class="texto-izquierda"> ¡Hola! Ingresá tu teléfono, e‑mail o usuario </h2>
          <span>
            Telefono, e-mail o usuario
          </span>
          <div>
            <input type="email" id="user_id" name="user_id" value autocomplete="on" autocapitalize="none" spellcheck="false" class="cajon-email">
          </div>
          <div class="boton">
            <button type="submit" class="boton">
             Continuar
            </button>
          </div>
          <div class="boton2">
            <button type="submit" class="boton2">
              Crear Cuenta
            </button>
          </div>
        </div>
      </div>  
    </main>
    <footer>
      <div>
        <h2> Como cuidamos tu privacidad </h2>
      </div>
      <div>
        <p>Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>

</html>