<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/9ce178c06d.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">

  </head>

  <body>
    <header>
      <div>
        <form class="header-padre">  
          <div class="header-logo">
            <img src="/img/logo-mercado-liebre.svg" width="200px" height="100px"> </img>
          </div> 
        </form>
      </div>    
    </header>
    <main>
      <div class="contenedor-main">
        <div class="caja-padre-sesion">
          <h2 class="texto-izquierda"> Completa tus datos </h2>
            <form novalidate class="registration-form" name="formulario-registro">
                <div>
                    <div class="container-registro">
                        <span class="andes-form-control"> Nombre </span>
                        <input type="text" value id="Nombre" name="Nombre">
                    </div> 
                    <div class="container-registro">
                        <span class="andes-form-control"> Apellido </span>
                        <input type="text" value id="Apellido" name="Apellido">
                    </div> 
                    <div class="container-registro">
                        <span class="andes-form-control"> DNI </span>
                        <input type="number" value id="DNI" name="DNI">
                    </div> 
                    <div class="container-registro">
                        <span class="andes-form-control"> E-mail </span>
                        <input type="text" value id="E-mail" name="E-mail">
                    </div> 
                    <div class="container-registro">
                        <span class="andes-form-control"> Clave </span>
                        <input type="password" value id="Clave" name="Clave">
                    </div> 
                </div>

            </form>
            <br>
            <div class="boton">
                <button type="submit" class="boton">
                 Continuar
                </button>
            </div>
        </div>
      </div>  
    </main>
    <footer>
      <div>
        <h2> Como cuidamos tu privacidad </h2>
      </div>
      <div>
        <p>Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>

</html>